# Set autocrlf to false
* -text

# The following 3 lines:
# tells Git to use Git LFS for all files within
# any directory at any level, except for hidden files
# No filter is applied to any file by default
* !filter
# Track all files within any directory at any level as LFS
/**/* filter=lfs diff=lfs merge=binary -text
# This line applies to all files starting with a dot '.',
.* -diff -merge !filter

# Remove filter for text files
*.po -diff -merge !filter
*.manifest -diff -merge !filter
*.py -diff -merge !filter
*.xml -diff -merge !filter
*.decTest -diff -merge !filter
*.h -diff -merge !filter
*.cmake -diff -merge !filter
*.ush -diff -merge !filter
*.usf -diff -merge !filter
*.tcl -diff -merge !filter
*.enc -diff -merge !filter
*.txt -diff -merge !filter
*.ini -diff -merge !filter
*.exp -diff -merge !filter
*.json -diff -merge !filter
*.target -diff -merge !filter
*.rst -diff -merge !filter
*.c -diff -merge !filter
*.usda -diff -merge !filter
*.pol -diff -merge !filter
*.ol -diff -merge !filter
*.html -diff -merge !filter
*.java -diff -merge !filter
*.pem -diff -merge !filter
*.texi -diff -merge !filter
*.cs -diff -merge !filter
*.in -diff -merge !filter
*.ms -diff -merge !filter
*.ts -diff -merge !filter
*.template -diff -merge !filter
*.config -diff -merge !filter
*.tex -diff -merge !filter
*.la -diff -merge !filter
*.targets -diff -merge !filter
*.doxyfile -diff -merge !filter
*.uplugin -diff -merge !filter
*.msg -diff -merge !filter
*.Po -diff -merge !filter
*.xsd -diff -merge !filter
*.js -diff -merge !filter
*.tm -diff -merge !filter
*.sh -diff -merge !filter
*.csc -diff -merge !filter
*.cfg -diff -merge !filter
*.snippet -diff -merge !filter
*.license -diff -merge !filter
*.css -diff -merge !filter
*.tps -diff -merge !filter
*.bat -diff -merge !filter
*.m -diff -merge !filter
*.md -diff -merge !filter
*.pbxproj -diff -merge !filter
*.modules -diff -merge !filter
*.aiff -diff -merge !filter
*.aspx -diff -merge !filter
*.cpp -diff -merge !filter
*.rt -diff -merge !filter
*.guess -diff -merge !filter
*.pl -diff -merge !filter
*.DOS -diff -merge !filter
*.sub -diff -merge !filter
*.pot -diff -merge !filter
*.dsptemplate -diff -merge !filter
*.ui -diff -merge !filter
*.xpm -diff -merge !filter
*.props -diff -merge !filter
*.vcxproj -diff -merge !filter
*.spec -diff -merge !filter
*.plist -diff -merge !filter
*.def -diff -merge !filter
*.aidl -diff -merge !filter
*.uproject -diff -merge !filter
*.mm -diff -merge !filter
*.glslfx -diff -merge !filter
*.am -diff -merge !filter
*.fsc -diff -merge !filter
*.mk -diff -merge !filter
*.diff -diff -merge !filter
*.sln -diff -merge !filter

# Unity scripts & shaders, c-sharp
*.cginc text
*.cs diff=csharp
*.shader text

# Collapse Unity-generated files
*.asset linguist-generated
*.mat linguist-generated
*.meta linguist-generated
*.prefab linguist-generated
*.unity linguist-generated

# "physic" for 3D but "physics" for 2D
*.physicMaterial2D merge=unityyamlmerge eol=lf
*.physicMaterial merge=unityyamlmerge eol=lf
*.physicsMaterial2D merge=unityyamlmerge eol=lf
*.physicsMaterial merge=unityyamlmerge eol=lf

# Unity YAML
*.mat merge=unityyamlmerge eol=lf
*.anim merge=unityyamlmerge eol=lf
*.unity merge=unityyamlmerge eol=lf
*.prefab merge=unityyamlmerge eol=lf
*.asset merge=unityyamlmerge eol=lf
*.meta merge=unityyamlmerge eol=lf
*.controller merge=unityyamlmerge eol=lf


# auto generated by UGit 
*.dll filter=lfs diff=lfs merge=binary -text
*.png filter=lfs diff=lfs merge=binary -text
*.dylib filter=lfs diff=lfs merge=binary -text
dsymutil filter=lfs diff=lfs merge=binary -text
*.exe filter=lfs diff=lfs merge=binary -text
*.so filter=lfs diff=lfs merge=binary -text
*.fbx filter=lfs diff=lfs merge=binary -text
*.pdb filter=lfs diff=lfs merge=binary -text
*.asset filter=lfs diff=lfs merge=binary -text
*.dds filter=lfs diff=lfs merge=binary -text
*.gif filter=lfs diff=lfs merge=binary -text
*.exr filter=lfs diff=lfs merge=binary -text
*.prefab filter=lfs diff=lfs merge=binary -text
*.anim filter=lfs diff=lfs merge=binary -text
*.obj filter=lfs diff=lfs merge=binary -text
*.unity filter=lfs diff=lfs merge=binary -text
*.mp4 filter=lfs diff=lfs merge=binary -text
*.psd filter=lfs diff=lfs merge=binary -text
*.unitypackage filter=lfs diff=lfs merge=binary -text
*.bin filter=lfs diff=lfs merge=binary -text
*.ttf filter=lfs diff=lfs merge=binary -text
*.ai filter=lfs diff=lfs merge=binary -text
*.tga filter=lfs diff=lfs merge=binary -text
*.mp3 filter=lfs diff=lfs merge=binary -text
*.jpg filter=lfs diff=lfs merge=binary -text
*.FBX filter=lfs diff=lfs merge=binary -text
*.PNG filter=lfs diff=lfs merge=binary -text
*.db filter=lfs diff=lfs merge=binary -text
*.otf filter=lfs diff=lfs merge=binary -text
*.a filter=lfs diff=lfs merge=binary -text

